# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================================
# VIRTUAL ENVIRONMENT
# =========================================================

venv/
.env/

# =========================================================
# JUPYTER
# =========================================================

.ipynb_checkpoints/

# =========================================================
# DATA FILES
# =========================================================

data/raw_xpt/
data/csv/
data/processed/

# =========================================================
# MODEL FILES
# =========================================================

outputs/models/*.pkl

# =========================================================
# SHAP OUTPUTS
# =========================================================

outputs/shap/

# =========================================================
# LLM OUTPUTS
# =========================================================

outputs/llm_outputs/

# =========================================================
# FEEM RESULTS
# =========================================================

outputs/feem_results/llama_feem_results.csv
outputs/feem_results/mistral_feem_results.csv


# =========================================================
# SFEEM RESULTS
# =========================================================

outputs/sfeem_results/llama_sfeem.csv
outputs/sfeem_results/mistral_sfeem.csv

# =========================================================
# API KEYS / ENV FILES
# =========================================================

.env
*.env

# =========================================================
# SYSTEM FILES
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# IDE
# =========================================================

.vscode/
.idea/